html, body {
    margin: 0 0;
    padding: 0 0;
}

.main-header-type {
 font-family: 'Codystar', sans-serif;
    /*font-family: 'Montserrat Subrayada', sans-serif;*/
    color: #fff;
    padding-top:90px;
    font-size:300%;
}

#header {
    height:200px;
    background:url("images/sur_fog.jpg") no-repeat; 
    background-size: 100% 100%;
}

#threeguys {
    margin-top:20px;
}

#nav {
    margin-top: 30px;
}

#nav ul {
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}

#nav ul li {
    display: inline;
    text-transform: uppercase;
    font-family: 'Hammersmith One', sans-serif;
    padding: 30px;
    /*color:#F68E51;*/
}

.padding {
    height:100px;
}

.frontpagetitles {
    font-size: 35px;
    color: #00A78D;



}